<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div id="list">
<div class="data_list">
	  		<div class="data_list_title">
			<img th:src="@{/images/list_icon.png}"/>
			最新博客</div>
	  		
	  		<div class="datas">
	  			<ul th:each="blog : ${blogList }">
	  				<li style="margin-bottom: 30px">
	  					<span class="date">
							<!--<a th:href="@{/blog/articles/${blog.id }.html}"> <p th:value="${blog.releaseDate }" /></a>-->
						</span>
					  	<span class="title">
							<a th:href="@{/blog/articles/${blog.id }.html}" th:text="${blog.title }"></a>
						</span>
						<span class="summary" th:text="${blog.summary }"></span>
					  	<!--<span class="img">-->
					  		<!--<c:forEach var="image" items="${blog.imageList }">-->
						  		<!--<a href="/blog/articles/${blog.id }.html">${image}</a>-->
						  		<!--&nbsp;&nbsp;-->
					  		<!--</c:forEach>-->
					  	<!--</span>-->
					  	<!--<span class="info">发表于 <fmt:formatDate value="${blog.releaseDate }" type="date" pattern="yyyy-MM-dd HH:mm"/> 阅读(${blog.clickHit }) 评论(${blog.replyHit }) </span>-->

	  				</li>
	  				 <hr style="height:5px;border:none;border-top:1px dashed gray;padding-bottom:  10px;" />
	  			</ul>
	  		</div>
	  	</div>
 <!--<div>-->
	<!--<nav>-->
	  <!--<ul class="pagination pagination-sm">-->
	  	<!--${pageCode }-->
	  <!--</ul>-->
	<!--</nav>-->
 <!--</div>-->
</div>
</html>
	  	