<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>首页_蒋承裕个人博客 - 一个java后端技术员的个人博客网站</title>
<meta name="keywords" content="个人博客,蒋承裕个人博客" />
<meta name="description" content="蒋承裕个人博客，一个java后端技术员的个人博客网站。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/base.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <link href="css/m.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/modernizr.js"></script>
  <![endif]-->
</head>
<body>
<!-- 页面头部 -->
<div th:replace="common2/head::html" ></div>
<!-- 文章主体 -->
<article>
  <!-- 左边 -->
  <div th:replace="common2/left::html" ></div>
  <!-- 内容 -->
  <div class="r_box">
    <li><i><a th:href="@{/}"><img src="images/1.jpg"></a></i>
      <h3><a th:href="@{/}">你是什么人便会遇上什么人</a></h3>
      <p>有时就为了一句狠话，像心头一口毒钉，永远麻痺着亲密感情交流。恶言，真要慎出，平日多誠心爱语，乃最简易之佈施。</p>
    </li>
    <div class="pagelist"><a class="allpage"><b>99</b></a>&nbsp;&nbsp;<a href="#" class="curPage">1</a>&nbsp;&nbsp;<a href="#" onclick="page(2)">2</a>&nbsp;&nbsp;<a href="#" onclick="page(3)">3</a>&nbsp;&nbsp;<a href="#" onclick="page(4)">4</a>&nbsp;&nbsp;<a href="#" onclick="page(5)">5</a>&nbsp;&nbsp;<a href="#" onclick="page(6)">6</a>&nbsp;&nbsp;<a href="#" onclick="page(7)">7</a>&nbsp;&nbsp;<a href="#" onclick="page(8)">8</a>&nbsp;&nbsp;<a href="#" onclick="page(9)">9</a>&nbsp;&nbsp;<a href="#" onclick="page(2)">下一页</a></div>
  </div>
</article>
<!-- 底部 -->
<div th:replace="common2/bottom::html" ></div>

</body>
</html>
